<h1 class="govuk-heading-l">Editing organisation</h1>

<%= render "form", organisation: @organisation %>

<br>

<div>
  <%= govuk_link_to "Show this organisation", organisation_software_instances_path(@organisation) %> |
  <%= govuk_link_to "Back to organisations", root_path %>
</div>
