<%= render @organisation %>

<div>
  <%= govuk_link_to "Edit this organisation", edit_organisation_path(@organisation) %> |
  <%= govuk_link_to "Back to organisations", root_path %>

  <%= button_to(
        "Destroy this organisation",
        @organisation,
        method: :delete,
        class: "govuk-button govuk-button--warning govuk-!-margin-top-5",
        data: { module: "govuk-button" }
      )%>
</div>
