<%= render @organisation %>

<div>
  <% if policy(@organisation).edit? %>
    <%= govuk_link_to "Edit this organisation", edit_organisation_path(@organisation) %> |
  <% end %>
  <%= govuk_link_to "Back to organisations", root_path %>

  <%= button_to(
        "Destroy this organisation",
        @organisation,
        method: :delete,
        class: "govuk-button govuk-button--warning govuk-!-margin-top-5",
        data: { module: "govuk-button" }
      ) if policy(@organisation).destroy? %>
</div>
