<h1 class="govuk-heading-l">Editing software instance</h1>

<%= render "form", software_instance: @software_instance %>

<br>

<div>
  <%= govuk_link_to "Show this software instance", @software_instance %> |
  <%= govuk_link_to "Back to software instances", organisation_software_instances_path(@organisation) %>
</div>
