<h1 class="govuk-heading-l">New software instance</h1>

<%= render "form", software_instance: [@organisation, @software_instance] %>

<br>

<div>
  <%= govuk_link_to "Back to list", organisation_software_instances_path(@organisation) %>
</div>
